@page "/reservations"

<h3>Reservations</h3>

<div class="Container">
    <div>
        <h2 class="title">Reserve</h2>
    </div>
    <div>
        <p class="Input_Titles">Flight Code:</p>
        <input placeholder="Flight" />
    </div>
    <div>
        <p class="Input_Titles">Airline:</p>
        <input placeholder="Airline" />
    </div>
    <div>
        <p class="Input_Titles">Day:</p>
        <input placeholder="Day" />
    </div>
    <div>
        <p class="Input_Titles">Time:</p>
        <input placeholder="Time" />
    </div>
    <div>
        <p class="Input_Titles">Cost:</p>
        <input placeholder="0" />
    </div>


    <div>
        <p class="Input_Titles">Name:</p>
        <input placeholder="Name" />
    </div>

    <div>
        <p class="Input_Titles">Citizenship:</p>
        <input placeholder="Citizenship" />
    </div>

    <button class="Res_button" style="color:white; background-color:blue">Reserve </button>

</div>

@code {

}
